body {
    background-color: #0a1321;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: #d1d1d1;
    user-select: none;
    text-align: center;
  }
  .table_cotnainer {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
  }
  table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 0 7px #d1d1d1;
  }
  th, td {
    padding: 10px;
    border: 1px solid #d1d1d1;
  }

  .title_contaier {
    width: 100% !important;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
}

header .portfolio {
  position: absolute;
  left: 2rem;
  text-decoration: none;
  color: #d1d1d1;
  font-size: 25px;
}

header .portfolio:hover {
    color:rgb(23, 151, 151);
    cursor: pointer;
}

.real_time{
  font-size: large;
  margin-top: 2rem ;
}

.down{
color:red !important;
}
.up{
color: green !important;
}

@media (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center !important;
  }

  header .portfolio {
      position: relative;
  }
  
  table {
      width: 90%;
  }
}